.opt {
  padding: 10px;
  border: 2px solid #198754;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.479);
  max-width: 500px;
}

.btn {
  text-decoration: underline;
  color: #146e44;
  cursor: pointer;
  font-weight: bolder;
}

.btn:hover {
  color: #198754;
}

.form {
  display: flex;
  flex-wrap: wrap; // Permite que os elementos se reordenem em várias linhas.
  justify-content: center; // Centraliza os itens horizontalmente.
  gap: 20px; // Espaçamento entre os elementos.

  @media (max-width: 768px) { // Para telas menores que 768px
    flex-direction: column; // Os elementos serão empilhados verticalmente.
    align-items: center; // Centraliza os itens no eixo vertical.
    .opt{
      width: 300px;
    }
  }
}
